Body{
    background-color: black;
}
h1{
    font-family:"Dancing Script", cursive;
    color: crimson;
    padding: 2rem;
    box-sizing: border-box;
    border-color: blueviolet;
    text-align: center;
    font-weight: 200;
    font-size: 5rem;
}
p{
    color: white;
    text-align: left;
    font-size: 2rem;
    
}
h2,h3,h4,h5, h6{
    color: blue;
    font-size: 4rem;
}
img {
    align-items: center;
}